@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

header {
    height: 13vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin: 0 13px;
}

header ul li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #111;
}

.sec1 {
    background-color: #F1F1F1;
    display: flex;
    height: 87vh;
    padding: 0 40px;
    align-items: center;
}

.sec1 .left {
    float: left;
    width: 50%;
    padding: 0 40px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1 .left > * {
    margin: 10px 0;
}

.sec1 .right {
    height: 80%;
    padding: 0 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1 .left h1 {
    color: #008B8B;
    font-size: 48px;
}

.sec1 .left p {
    color: #515050;
    white-space: pre-line;
    font-size: 16px;
}

.sec1 .left ul {
    list-style: none;
    font-size: 16px;
    margin-top: 30px;
}

.sec1 .left ul li {
    margin: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.sec1 .left ul li::before {
    content: url(./Images/tick.png);
    margin-right: 8px;
}

.sec1 .right img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.sec1 .left button {
    margin: 10px 0;
    height: 60px;
    min-height: 60px;
    width: 260px;
    min-width: 260px;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    background-color: #42B2A2;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 15px;
    flex-shrink: 0;
}

.sec1 .left button::after {
    content: url(./Images/ant-design_arrow-right-outlined.png);
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.sec1 .left button {
    background-color: #36a397;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    transform: translateX(3px);
    transition: all 0.3s ease;
}
.sec2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
.sec2 .info, .sec2 .vid{
    padding: 0 40px;
}
.sec2 .info h1{
    font-size: 37px;
    margin: 10px;
}
span{
    color: #42B2A2;
}
.vid{
    height: 100%;
    justify-self: center;
    margin: 0 auto;
    margin-top: 10px;
}