@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

header {
    height: 13vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin: 0 13px;
}

header ul li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #111;
}

.sec1 {
    background-color: #F1F1F1;
    display: flex;
    height: 87vh;
    padding: 0 40px;
    align-items: center;
}

.sec1 .left {
    float: left;
    width: 50%;
    padding: 0 40px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1 .left > * {
    margin: 10px 0;
}

.sec1 .right {
    height: 80%;
    padding: 0 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1 .left h1 {
    color: #008B8B;
    font-size: 48px;
}

.sec1 .left p {
    color: #515050;
    white-space: pre-line;
    font-size: 16px;
}

.sec1 .left ul {
    list-style: none;
    font-size: 16px;
    margin-top: 30px;
}

.sec1 .left ul li {
    margin: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.sec1 .left ul li::before {
    content: url(./Images/tick.png);
    margin-right: 8px;
}

.sec1 .right img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.sec1 .left button {
    margin: 10px 0;
    height: 60px;
    min-height: 60px;
    width: 260px;
    min-width: 260px;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    background-color: #42B2A2;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 15px;
    flex-shrink: 0;
}

.sec1 .left button::after {
    content: url(./Images/ant-design_arrow-right-outlined.png);
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.sec1 .left button:hover {
    background-color: #36a397;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    transform: translateX(3px);
    transition: all 0.3s ease;
}
.sec4{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
.sec4 .infos, .sec4 .vid{
    padding: 0 40px;
}
.sec4 .infos h1{
    font-size: 38px;
    margin: 10px 0;
}
span{
    color: #42B2A2;
}
.vid{
    height: 100%;
    justify-self: center;
    margin: 0 auto;
    margin-top: 10px;
}
/* Example CSS for custom marker icon */
.fixed-icon {
    width: 45px;
    height: 45px;
    background-image: url('./Images/hospital.png');
    background-size: cover;
}

.sec2{
    height: 100vh;
    width: 100%;
    padding: 10px 40px;
}
.timeline{
    padding: 0 40px;
}
.timeline h1{
    font-size: 40px;
    padding-top: 20px;
    /* margin: 10px 0 ; */
}
.content{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: start;
    justify-content: center;
    /* padding-top: 30px; */
    overflow: hidden;
}
.content img{
    height: 500px;
}
.tracking{
    margin: 10px 0;
    height: 60px;
    min-height: 60px;
    width: 200px;
    /* min-width: 260px; */
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    background-color: #42B2A2;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 15px;
    flex-shrink: 0;
    /* font-size: 19px; */
    margin-top: 40px;
}
.tracking:hover{
    background-color: #36a397;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    transform: translateX(3px);
    transition: all 0.3s ease;
}
.contained h1{
    font-size: 38px;
}
.sec3{
    height: 100vh;
    padding: 20px 40px;
}
.contained{
    height: 100%;
    width: 100%;
    padding: 0 40px;
}
.mappy{
    height: 100%;
    display: flex;
}
.maps{
    border: 1px solid #111;
    height: 90%;
    width: 66%;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5); 
    margin-top: 20px;
    backdrop-filter: blur(13px);
    position: relative; 
    overflow: hidden;
    display: flex;
}
.info{
    /* border: 1px solid #111; */
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 20px;
}
.hp{
    width: 93%;
    height:40%;
    margin: 10px;
    border: 1px solid #111;
    border-radius: 10px;
    backdrop-filter: blur(13px); /* Background blur */
    display: flex;
    /* justify-content: space-around; */
    align-items: start;
    padding: 10px 20px;
    flex-direction: column;
    gap: 7px;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    /* margin-top: 0; */
}
.search{
    height: 40px;
    width: 230px;
    margin: 10px;
    background-color: #ffffff10;
    border: 1px solid #111;
    border-radius: 20px;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1.5px); /* Background blur */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    padding: 0 15px;
    margin: 20px 0 0 20px;
}
.ctrl {
    height: 50px;
    width: 230px;
    background-color: #ffffff10;
    border: 1px solid #111;
    border-radius: 20px;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px); /* Background blur */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    bottom: 20px; /* 20px from the bottom of the map container */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset the element's own width to center it */
    z-index: 3;
}

.ctrl > *{
    margin: 0 20px;
    cursor: pointer;
}
.plus{
    height: 20px;
}
.minus{
    height: 26px;
}
.track{
    height: 30px;
}
.map{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#search-input, #search-button{
    background: none;
    outline: none;
    border: none;
}
#searchbutton:active{
    background: transparent;
    color: none;
    outline: none;
    background-color: none;
    border: none;
}
.search {
    position: relative;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    background-color: #ffffff10;
    border: 1px solid #111;
    border-radius: 20px;
    display: none;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1px); /* Background blur */
}

.search-suggestions .suggestion {
    padding: 8px;
    cursor: pointer;
}

.search-suggestions .suggestion:hover {
    background: #f0f0f000;
}
.search-suggestions::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.search-suggestions {
    scrollbar-width: none;
}
.hp h1{
    font-size: 26px;
    font-weight: 600;
}
.hp h3{
    font-weight: 400;
}
.flex{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.infor h1{
    font-size: 22px;
}
.infor img{
    height: 30px;
}
.direc img{
    height: 60px;
    align-self: center;
    cursor: pointer;
    margin-top: 5px;
}
.time, .rating{
    display: flex;
}
.time{
    gap: 5px;
}.time p{
    font-weight: 500;
}
.rating{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.rating p{
    font-size: 13px;
}
.sec5{
    height: 100vh;
    width: 100vw;
}
.sec5, .sec5 h1, .sec5 .containered{
    padding: 0 40px;
    /* overflow: hidden; */
}
.sec5 h1{
    font-size: 38px;
}
.containered {
    position: relative;
    padding: 40px;
    /* Optional: Set width and height if needed */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.containered img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    cursor: pointer;
}
